.navbar-container {
  width: 100%;
  padding: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
.navbar{
    max-height: 70px;
}
.custom-navbar {
  border: none;
  background: white;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 81px;
  margin-right: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-weight: bold;
  font-size: 8px;
  color: #f4a300;
}


.p-menubar {
  justify-content: space-between;
}

.p-menubar-root-list > li > a {
  font-size: 15px;
  color: #000;
  padding: 10px 15px;

}

.p-menubar-root-list > li > a:hover {
  color: #00287e;
}

.buy-ticket {
   background: var(--btn-gradient);
  color: black;
  padding: 5px 30px;
  font-size: 16px;
  border: 1px solid #f4a300;
  border-radius: 62px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}
.buy-ticket:hover{
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}
.sponsor {
  background: linear-gradient(90deg, #000000 0%, #4E4E4E 100%);
  border: 1px solid #000000;
  color: white;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 62px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.sponsor:hover {
  background: linear-gradient(90deg, #1a1a1a 0%, #5e5e5e 100%);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.main-title {
  font-size: 20px; /* Reduce font size for mobile */
  font-weight: bold;
}

.sub-title {
  font-size: 13px;
  color: #000000;
  font-weight: 500;
  display: block; /* Stack the subtitle under the title */
}

.navbar-noShadow:focus {
  box-shadow: none;
}

@media (max-width: 1040px) {
  .main-title {
    font-size: 16px; /* Reduce font size for mobile */
    font-weight: bold;
  }

  .sub-title {
    font-size: 10px;
    display: none; /* Stack the subtitle under the title */
  }

  .logo img {
    max-height: 50px; /* Adjust height for proper scaling */
    width: auto;
  }

  .buy-ticket {
    font-size: 10px;
      padding: 2px 10px;

    /* Adjust padding for smaller screens */
  }
  .sponsor {
    font-size: 10px;
    /* Adjust padding for smaller screens */
  }
  
}

@media (max-width: 768px) {
  .logo {
    flex-grow: 1;
  }

  .navbar-toggler {
    margin-left: auto;
  }
  .nav-link.active::after {
    display: none; /* Hide the bottom line on mobile */
  }

  .nav-link.active {
    color: #121989; /* Keep the highlight */
    font-weight: bold; /* Optionally make the text bold for better visibility */
  }
  .buy-ticket {
    font-size: 10px;
    /* Adjust padding for smaller screens */
  }
  .sponsor {
    font-size: 10px;
    /* Adjust padding for smaller screens */
  }
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
  color: #000;
  text-decoration: none;
  display: flex; /* Use flexbox to align items */
  align-items: center;  
  font-family: Manrope;
  font-weight: 500;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%);
  width: 20px; /* Width of the line */
  height: 3px; /* Thickness of the line */
  background-color: #121989; /* Blue color */

  
}
.nav-link.active {
  color: #121989;
  font-weight: 800;
}
.nav-link:hover {
  color: #121989;
}
.dropdown-toggle::after {
  margin-left: 0.255em;
  vertical-align: 0.3em;
  content: "";
  border-top: 0.3em solid #000;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.announcementBar {
  background: url("/images/home/attendAnnex.png") no-repeat center center/cover;
  max-height: 38px;
  color: #000000;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  
}
.announcementBar span:nth-of-type(2) {
  background: linear-gradient(90deg, #18006f 0%, #2e00d5 100%);
  font-size: 11px;
  color: #ffffff;
  line-height: 18px;
  padding: 0 18px;
}

.active {
    color: #121989; /* Keep the highlight */
    font-weight: bold; /* Optionally make the text bold for better visibility */
  }