.container{
    background-color: #eff5fb;
    border-radius: 30px;
}

.content-container{
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #F4A300 #ffffff; /* Thumb and track color */
}

.content-container p{
    line-height: 1.5;
    font-size: 16px;
}

 
