.container {
  position: relative;
  padding: 10px;
  background-image: url("/images/conferences/webinar-bg.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* Overlay to reduce brightness */
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1;
}


.conferencelogo {
  width: auto;
  height: 100px;
}

.heading h5{
    line-height: 1.8;
}

@media only screen and (max-width: 600px) {
  .heading h5{
    font-size: 12px;
}
}

.timings{
    background: rgba(106, 106, 106, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.scroll-container {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  position: relative;
  border-radius: 10px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(106, 106, 106, 0.5) transparent;
  overflow-x: hidden;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

/* Custom Scrollbar for Webkit Browsers (Chrome, Edge, Safari) */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(106, 106, 106, 0.5);
  border-radius: 10px;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.card {
  width: 100%;
  background: rgba(106, 106, 106, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.video-conference-wrapper {
  position: relative;
  display: inline-block;
}

.video-conference {
  border-radius: 20px; /* Smooth edges */
  filter: brightness(70%) contrast(90%);
}

/* Adding dark gradient overlay */
.video-conference-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 31, 71, 0.18) 0%, #010137 100%);
  border-radius: 20px;
}
.brand-btn {
  background: #F4A300;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.brand-btn:hover {
  background: #b47800;
  transition-duration: 0.3s;
  color: white;
}
