.container {
    background: linear-gradient(to right, #d1f0ff, #ffe6fd,#e3eaf4);

  }
  
  .max-width-container{
      max-width: 850px;
      margin: auto;
  }
  
  .accordion-button{
      background-color: #a0f6ff;
  }
  
  .lineheight{
      line-height: 1.3;
  }
  @media (max-width: 768px) {
  .title {
    font-size: 0.95rem;
  }
  
}
