.container{
    padding: 10px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.research{
  color:#0000001A;
  font-weight: 900;

}
.topics{
  background-image: url('/images/conferences/topics.png');
  display: flex;
  justify-content: center;
  align-items: center;

}
.card {
    background: #FFFFFF1A;
    border-radius: 5px;
    border: 1px solid  #35A4DBB2;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
}

.card .text {
    color: white;
    font-weight: 500;
}

.card .icon {
    /* background-color: #fdb913; */
         background: var(--btn-gradient);
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}


/* Page Numbers */
.customPaginator .p-paginator .p-paginator-pages .p-paginator-page {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  background-color: #F3F3F3; /* Light Gray */
  color: #121989; /* Dark Blue */
  border: none;
  transition: all 0.2s ease-in-out;
  margin: 0px 5px;
}

/* Active Page */
.customPaginator .p-paginator .p-paginator-pages .p-highlight {
  background-color: #001f61 !important; /* Dark Blue */
  color: white !important;
  font-weight: bold;
}

/* Prev & Next Buttons */
.customPaginator .p-paginator .p-paginator-prev,
.customPaginator .p-paginator .p-paginator-next {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #FFFFFF;
  background: linear-gradient(53.73deg, #121989 5.63%, #050623 94.37%);
  margin: 0px 30px;
}

/* Hover Effects */
.customPaginator .p-paginator .p-paginator-prev:hover,
.customPaginator .p-paginator .p-paginator-next:hover {
  background: linear-gradient(53.73deg, #0e1471 5.63%, #050623 94.37%) ;
}
