.container{
    background-image: url('/images/conferences/hotel.webp');
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.lineheight{
    line-height: 1.5;
}

.timings{
    background: rgba(106, 106, 106, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.highlightedMapBorder {
  border: 4px solid #ffcc00; /* bright yellow border, change color as you want */
  border-radius: 0.5rem; /* matches your rounded-2 bootstrap class */
  box-shadow: 0 0 10px #ffcc00; /* optional glow effect */
}
