.header {
  background: linear-gradient(90deg, #A1A1A1 0%, #3B3B3B 100%);
  border: 1px solid #000000;
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
  border-radius: 20px;
}

.card {
  width: 100%;
  background: white;
  text-align: center;
  overflow: hidden;
}
.card-header {
  background: url("/icons/profile-bg.png")
    no-repeat center/cover;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
    transition: all 0.3s ease; /* Smooth transition */

}
.card-header:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.512);
    transform: translateY(-2px);

}

.profile-img {
  width: auto;
  height: 200px   ;
  cursor: pointer;
  object-fit: cover;
}
.profile-img2{
  width: auto;
  height: 100px;
  cursor: pointer;
  object-fit: cover;
}


.mic-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: linear-gradient(180deg, #8CFF8C 0%, #00FFCB 100%);
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mic-icon:hover {
  background: linear-gradient(180deg, #F4A300 0%, #8E5F00 100%);
}
.mic-icon:hover > img {
  filter: brightness(0) invert(1); /* Makes it look white */
}

.card-body {
  padding: 15px;
}
.name {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
.designation {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.company {
  display: flex;
  justify-content: center;
}

.company img {
  width: auto;
  height: 50px;
  margin-top: 10px;
  filter: brightness(0.6);
}

.about-content-height{
  height: 60vh;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #F4A300 #f1f1f1;
}

/* Custom scrollbar styling */
.about-content-height::-webkit-scrollbar {
  width: 4px;
}

.about-content-height::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.about-content-height::-webkit-scrollbar-thumb {
  background: #F4A300;
  border-radius: 10px;
}

.about-content-height::-webkit-scrollbar-thumb:hover {
  background: #dc9300;
}


