.custom-sidebar {
    width: 32rem;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .custom-sidebar {
      width: 90vw; /* Almost full screen for mobile */
    }
  }
